html {
    font-size: 10px;
}

body {
    margin: 0 auto;
}

/*전부 다*/
*{
    box-sizing: border-box;
}

/*클래스*/
.school{
    color: brown;
}

/*자식 선택자*/
div p, h2 {
    color: blue;
    margin: 20px 30px; /*상하 좌우*/
    overflow-y: scroll;
    overflow: auto; 
    margin: 0 auto; 
    text-align: center;
}

div {
    border: 6px solid blue;
    padding: 4px 6px 4px 6px;
}

img {
    max-width: 100%;
    object-fit: cover;
}

p {
    color: #008000;
    font-size: 0.5rem;
    font-style: italic;
    font-weight: 900; /*두께*/
}

a {
    text-decoration: none; /*링크 밑줄 제거*/
}

/*미방문 링크*/
a:link {
    color: black;
}

/*방문 링크*/
a:visited {
    color: black;
}

.container {
    border: 2px solid blue;
    border-radius: 20px;
    background-color: yellow;
}